<!doctype html>
<title>QA system - {% block title %}{% endblock %}</title>
<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
<nav>
  <h1>QA test system</h1>
  <ul>
      <li><a href="{{ url_for('frontpage.index') }}">Welcome page</a>
      <li><a href="{{ url_for('book.initialpage') }}">New question</a>
  </ul>
</nav>
<section class="content">
  <header>
    {% block header %}{% endblock %}
  </header>
  {% for message in get_flashed_messages() %}
    <div class="flash">{{ message }}</div>
  {% endfor %}
  {% block content %}{% endblock %}
</section>